pip install streamlit
pip install pyngrok
pip install ultralytics
pip install supervision
pip install opencv-python
pip install numpy
pip install matplotlib
pip install pandas
pip install gitpython
pip install subprocess
